.home {
	background-color: var(--primarycolor);
	width: 100%;
	height: calc(100vh - 90px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.home__main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.home__loginmsg {
	background-color: var(--primarycolor);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 14px;
	font-weight: 600;
}

.home__loginmsg > span > a {
	color: var(--secondarycolor);
	text-decoration: none;
	background: 
     linear-gradient(90deg, currentColor calc(100%/3), transparent 0 calc(200%/3), currentColor 0) 
     var(--d, 0%) 100% /300% 1px 
    no-repeat;
  	transition:0.8s;
}

.home__loginmsg > span > a:hover {
	--d: 100%;
}

.home__loginmsg > span {
	text-decoration: none;
	color: var(--secondarycolor) !important;
}

.left__ads, .right__ads {
	width: 160px;
	background-color: inherit;
	height: 600px;
}

.left__ads {
	margin-left: 20px;
}

.right__ads {
	margin-right: 20px;
}

.top__adsmobile, .bottom__adsmobile {
	display: none;
	width: 300px;
	height: 50px;
	background-color: inherit;
}

.top__adsmobile {
	margin-top: 20px;
}

.bottom__adsmobile {
	margin-bottom: 20px;
}

.home__content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.home__form {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.home__linkinput {
	font-weight: 600;
	font-size: 14px;
	width: 50%;
	height: 40px;
	outline: none;
	border-radius: 3px;
	border: 3px solid var(--secondarycolor);
	background-color: inherit;
	color: var(--quaternarycolor);
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
}

.home__linkinput::selection {
	background-color: var(--secondarycolor);
}

.home__linksubmitdisabled, .home__linksubmit {
	font-weight: 600;
	border-radius: 3px;
	transition: 400ms;
	color: var(--quaternarycolor);
	height: 40px;
	width: 8%;
	outline: none;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 14px;
}

.home__linksubmit {
	background-color: var(--secondarycolor);
	border: 3px solid var(--secondarycolor);
	cursor: pointer;
}

.home__linksubmit:hover {

}

.home__linksubmitdisabled {
	background-color: var(--secondarycolor);
	border: 3px solid var(--secondarycolor);
	filter: brightness(70%);
}

.home__shortlinkres {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;
}

.home__shortlinkinput {
	font-weight: 600;
	height: 40px;
	width: 40%;
	background-color: inherit;
	color: var(--quaternarycolor);
	outline: none;
	margin-right: 10px;
	border: none;
	text-align: center;
	background-color: var(--teritiarycolor);
	border-radius: 3px;
}

.home__shortlinkinput::selection {
	background-color: var(--secondarycolor);
}

.home__copyshort {
	height: 40px;
	width: 5%;
	margin-left: 10px;
	outline: none;
	border-radius: 3px;
	border: 3px solid var(--secondarycolor);
	background-color: var(--secondarycolor);
	color: var(--teritiarycolor);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.MuiSnackbarContent-message {
	font-size: 8px;
}

@media all and (max-width: 768px) {
	.left__ads {
		display: none;
	}

	.right__ads {
		display: none;
	}

	.top__adsmobile, .bottom__adsmobile {
		display: block;
	}

	.home__loginmsg {
		height: 30px;
		font-size: 12px;
	}

	.home__main {
		flex-direction: column;
	}

	.home__form {
		flex-direction: column;
	}

	.home__linkinput {
		width: 80%;
		height: 40px;
		font-size: 12px;
		margin-right: 0px;
		border: 2px solid var(--secondarycolor);
		margin-bottom: 10px;
	}

	.home__linksubmitdisabled, .home__linksubmit {
		width: 20%;
		height: 40px;
		font-size: 12px;
		margin-left: 0px;
		margin-top: 10px;
	}

	.home__shortlinkres {
		width: 100%;
		margin-top: 10px;
	}

	.home__shortlinkinput {
		height: 40px;
		font-size: 12px;
		margin-right: 0px;
		width: 60%;
	}

	.home__copyshort {
		height: 40px;
		width: 10%;
	}
}